.container {
    width: 85%;
    margin: 0 auto;
}

.icon-s {
    align-items: center;
    color: #242424;
}

.icon-s:hover {
    cursor: pointer;
    color: grey;
    transition: all 0.2s ease; 
}

li {
    list-style: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #242424;
}

a:hover {
    color: #daa520;
    cursor: pointer;
}