@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  font-size: 62.5%; 
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.6rem;
  color: #242424;
  background-color: #ffffff;
  line-height: 1.6;
  -webkit-font-smoothing: subpixel-antialiased; 
}
